.contact-form__container {
  position: relative;
  padding: 30px 20px;
  background-color: var(--blue-dark);
}

.form-bg {
  z-index: 1;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("/img/form-bg-mobile.png") no-repeat top;
  background-size: cover;
}

.form__group {
  padding: 0;
  z-index: 10;
  position: relative;
  border: none;
  margin-bottom: 15px;
}

.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--gold);
  transition: 0.6s;
}
.input--font {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
}

.input--size {
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 15px;
}

.form__textarea {
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 15px;
  resize: vertical;
  background: transparent;
}

.form__input::placeholder {
  font-size: 12px;
}

.btn-container--form {
  display: flex;
  justify-content: center;
}

.form__btn-container {
  margin-bottom: 5px;
}

@media (hover: hover) {
  .form__input:focus,
  .form__input:hover {
    border-bottom: 1px solid var(--blue-light);
  }
}
@media (hover: none) {
  .form__input:focus,
  .form__input:hover,
  .form__input:active {
    opacity: 0.5;
  }
}
